/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #cd6133;
    position: fixed; /* Set the navbar to fixed position */
    top: -3; /* Position the navbar at the top of the page */
        margin-left: -6px; /*solution 1 */
    width: 100%; /* Full width */
        padding:-3px; /*solution 2 */
}

body {background-color: #ffda79}
/* Links inside the navbar */
.navbar a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
      transition: 0.3s;

}
/* Main content */
.main {
    margin-top: 80px; /* Add a top margin to avoid content overlay */
}


.btn {
  background-color: #cd6133;
  border: none;
  color: white;
  padding: 16px 16px;
  font-size: 20px;
  margin-left:auto;
    margin-right:auto;
      border-radius: 8px;
  transition: 0.5s;
}

.btn:hover {
  background-color: grey;
  color: black;
  border-radius: 5px;
}
.demotext {
font-size:24px;
color:#FFFFF;
font-family: arial;
}
.ingtxt {
    color: rgba(0,0,0,.6);
text-shadow: rgba(255,255,255,.2) 3px 2px 3px;
}
.fff {
    color: black;
text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}
.anaglyph {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 14px/normal "Chau Philomene One", Helvetica, sans-serif;
  color: rgb(51, 51, 51);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10) ;
}
.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 450px;
  height: 50px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 80px;
  border-radius: 8px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140,140,140,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.3);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:hover {
  color: rgba(181,181,181,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.button:focus {
  width: 380px;
  cursor: default;
  padding: -13px 20px 0;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.retro {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: normal 50px/normal "Helvetica", Helvetica, sans-serif;
  color: rgb(112, 112, 112);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.fixed {
  
  table.fixed { table-layout:fixed; }
  table.fixed td { overflow: hidden; }
}